/* Parity layer: hero layout and media positioning */
.hero-section__logo {
  margin-bottom: 10px;
}

.hero-section__layout {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-right: 0;
  margin-left: 0;
}

.hero-section__layout > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.hero-section__media {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.hero-section__headline {
  z-index: 10;
  position: relative;
}

.hero-section .hero-section__media {
  max-width: 250px;
}

@media (max-width: 767.98px) {
  .hero-section .hero-section__media {
    margin-left: -0.5rem;
  }
}

@media screen and (max-width: 320px) {
  .hero-section .hero-section__media {
    margin-left: -2.5rem;
  }
}

@media (max-width: 575.98px) {
  .hero-section .hero-section__media {
    margin-top: 7rem;
  }
}

@media (min-width: 576px) {
  .hero-section__content {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .hero-section__logo {
    width: 284px;
  }

  .hero-section__layout {
    align-items: center;
  }

  .hero-section__content {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .hero-section__media {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.hero-section__subtitle,
.hero-section__locale-link {
  font-weight: 500;
}

.hero-section__headline,
.hero-section__subtitle,
.hero-section__locale-link {
  padding-left: 0;
  padding-right: 0;
}
